img{
    width: 250px;
    height: 200px;
    border: black 2px solid;
    border-radius: 50%;
}

.cat1{
    margin-top: 30px;
    margin-left: 350px ;
}

.cat2{
    margin-top: 30px;
    margin-left: 300px ;
}

